<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuración de conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:8889/Shop</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Dialecto de Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        
        <!-- Autocreador de tablas -->
        <property name="hibernate.hbm2ddl.auto=create">true</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- Mostrar las consultas SQL en la consola -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Configuración de hilos y conexión -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- Escaneo de clases para mapeo -->
        <mapping class="model.Product"/>
        <mapping class="model.ProductHistory"/>
    </session-factory>
</hibernate-configuration>
